---
# Enable groups of checks: bugprone, readability and modernize
# Disable specific checks using the '-' prefix
Checks: >
  bugprone-*,
  readability-*,
  modernize-*,
  -modernize-use-trailing-type,
  -modernize-use-trailing-return-type,
WarningsAsErrors: "-*"